#build --cxxopt='-std=c++17'
#build --cxxopt='-Wno-macro-redefined'
#build --cxxopt='-Wno-builtin-macro-redefined'
#
#build --cxxopt='-Wno-unused-private-field'
#build --cxxopt='-g'

#build --client_env=CC=clang

# /DNDEBUG -DNO_ASM -DNO_ASM_LOOPS
# Platform-specific settings
build:windows --cxxopt=-std:c++17 --define=MY_LONG_SIZE=32                           --define=GMP_TYPE_L="/* #undef GMP_DEMANDS_UINTD_LONG */" --define=GMP_TYPE_LL="#define GMP_DEMANDS_UINTD_LONG_LONG" --define=TIME_UNIX_WIN="/* #undef HAVE_GETTIMEOFDAY */" --cxxopt=-DNO_ASM --cxxopt=-DNO_ASM_LOOPS
build:linux   --cxxopt=-std=c++17 --define=MY_LONG_SIZE=64                           --define=GMP_TYPE_L="#define GMP_DEMANDS_UINTD_LONG" --define=GMP_TYPE_LL="/* #undef GMP_DEMANDS_UINTD_LONG_LONG */" --define=TIME_UNIX_WIN="#define HAVE_GETTIMEOFDAY"
build:linux_clang --cxxopt=-std=c++17 --client_env=CC=clang --define=MY_LONG_SIZE=64 --define=GMP_TYPE_L="#define GMP_DEMANDS_UINTD_LONG" --define=GMP_TYPE_LL="/* #undef GMP_DEMANDS_UINTD_LONG_LONG */" --define=TIME_UNIX_WIN="#define HAVE_GETTIMEOFDAY"
build:linux_gcc   --cxxopt=-std=c++17 --client_env=CC=gcc   --define=MY_LONG_SIZE=64 --define=GMP_TYPE_L="#define GMP_DEMANDS_UINTD_LONG" --define=GMP_TYPE_LL="/* #undef GMP_DEMANDS_UINTD_LONG_LONG */" --define=TIME_UNIX_WIN="#define HAVE_GETTIMEOFDAY"
