#
build:windows     --cxxopt=-std:c++20 --cxxopt=/permissive  --define=MY_LONG_SIZE=32 --define=GMP_TYPE_L="/* #undef GMP_DEMANDS_UINTD_LONG */" --define=GMP_TYPE_LL="#define GMP_DEMANDS_UINTD_LONG_LONG" --define=TIME_UNIX_WIN="/* #undef HAVE_GETTIMEOFDAY */" --cxxopt=-DNO_ASM --cxxopt=-DNO_ASM_LOOPS
build:windows_md  --cxxopt=-std:c++20 --cxxopt=/permissive  --define=MY_LONG_SIZE=32 --define=GMP_TYPE_L="/* #undef GMP_DEMANDS_UINTD_LONG */" --define=GMP_TYPE_LL="#define GMP_DEMANDS_UINTD_LONG_LONG" --define=TIME_UNIX_WIN="/* #undef HAVE_GETTIMEOFDAY */" --cxxopt=-DNO_ASM --cxxopt=-DNO_ASM_LOOPS --cxxopt=/MD --linkopt=/NODEFAULTLIB:LIBCMT --features=dynamic_link_msvcrt
build:windows_mt  --cxxopt=-std:c++20 --cxxopt=/permissive  --define=MY_LONG_SIZE=32 --define=GMP_TYPE_L="/* #undef GMP_DEMANDS_UINTD_LONG */" --define=GMP_TYPE_LL="#define GMP_DEMANDS_UINTD_LONG_LONG" --define=TIME_UNIX_WIN="/* #undef HAVE_GETTIMEOFDAY */" --cxxopt=-DNO_ASM --cxxopt=-DNO_ASM_LOOPS --cxxopt=/MT --linkopt=/NODEFAULTLIB:MSVCRT --features=static_link_msvcrt
#
build:linux       --cxxopt=-std=c++20                       --define=MY_LONG_SIZE=64 --define=GMP_TYPE_L="#define GMP_DEMANDS_UINTD_LONG" --define=GMP_TYPE_LL="/* #undef GMP_DEMANDS_UINTD_LONG_LONG */" --define=TIME_UNIX_WIN="#define HAVE_GETTIMEOFDAY" 
build:linux_clang --cxxopt=-std=c++20 --client_env=CC=clang --define=MY_LONG_SIZE=64 --define=GMP_TYPE_L="#define GMP_DEMANDS_UINTD_LONG" --define=GMP_TYPE_LL="/* #undef GMP_DEMANDS_UINTD_LONG_LONG */" --define=TIME_UNIX_WIN="#define HAVE_GETTIMEOFDAY"
build:linux_gcc   --cxxopt=-std=c++20 --client_env=CC=gcc   --define=MY_LONG_SIZE=64 --define=GMP_TYPE_L="#define GMP_DEMANDS_UINTD_LONG" --define=GMP_TYPE_LL="/* #undef GMP_DEMANDS_UINTD_LONG_LONG */" --define=TIME_UNIX_WIN="#define HAVE_GETTIMEOFDAY"
